* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  background-color: #3d3b8e;
  color: #f9f9f9;
}

button {
  appearance: none;
  cursor: pointer;
  width: 200px;
  height: 70px;
  background-color: #3d3b8e;
  color: #f9f9f9;
  border-radius: 8px;
  font-size: 28px;
  font-weight: 600;
  border: 3px solid #f9f9f9;
  transition: 0.4s;
}

button:hover {
  background-color: #6883ba;
}

#player {
  margin-top: 50px;
  margin-bottom: 1rem;
}

#playerhead {
  margin-bottom: 1rem;
}

#reset {
  margin-bottom: 5rem;
}

#computer {
  margin-bottom: 5rem;
}

#computerhead {
  margin-bottom: 1rem;
}

#computerselect {
  font-size: 20px;
}

#scoreboard {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 2rem;
}
